<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="admin.Properties.Settings.db_adminkaConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\sibsup\DISTR\test_admin\db_adminka.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <admin.Properties.Settings>
            <setting name="UNIT1_name" serializeAs="String">
                <value>U1     ЖЭУ111          Есенина 16</value>
            </setting>
        </admin.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <admin.Properties.Settings>
            <setting name="dmwrPath" serializeAs="String">
                <value>C:\Program Files (x86)\SolarWinds\DameWare Remote Support</value>
            </setting>
            <setting name="mmc" serializeAs="String">
                <value>\\sibsup\DISTR\okhten_mmc.msc</value>
            </setting>
            <setting name="msinfo_xml" serializeAs="String">
                <value>C:\windows\system32\msinfo32.exe</value>
            </setting>
            <setting name="acronis_xml" serializeAs="String">
                <value>C:\Program Files (x86)\Acronis\TrueImageHome\TrueImageLauncher.exe</value>
            </setting>
        </admin.Properties.Settings>
    </userSettings>
</configuration>