<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="${ALLUSERSPROFILE}\Application Data\SolarWinds\Logs\Dameware\SolarWinds.MRC.Licensor.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="2MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="WARN"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <logger/>
  </log4net>
  <runtime>
    <enforceFIPSPolicy enabled="false"/>
  </runtime>
<startup useLegacyV2RuntimeActivationPolicy="true" ><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
