<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="admin.Properties.Settings.db_adminkaConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\sibsup\DISTR\test_admin\db_adminka.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <admin.Properties.Settings>
            <setting name="UNIT1_name" serializeAs="String">
                <value>U1     ЖЭУ111          Есенина 16</value>
            </setting>
        </admin.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <admin.Properties.Settings>
            <setting name="dmwrPath_old" serializeAs="String">
                <value>C:\Program Files (x86)\SolarWinds\DameWare Remote Support\</value>
            </setting>
            <setting name="mmc" serializeAs="String">
                <value>\\sibsup\DISTR\okhten_mmc.msc</value>
            </setting>
            <setting name="msinfo_xml" serializeAs="String">
                <value>C:\windows\system32\msinfo32.exe</value>
            </setting>
            <setting name="acronis_xml" serializeAs="String">
                <value>C:\Program Files (x86)\Acronis\TrueImageHome\TrueImageLauncher.exe</value>
            </setting>
            <setting name="PsLogon" serializeAs="String">
                <value>\\sibsup\distr\okhten\user_find.ps1</value>
            </setting>
            <setting name="phone_number" serializeAs="String">
                <value>2666</value>
            </setting>
            <setting name="phone_pass" serializeAs="String">
                <value>VKV2666</value>
            </setting>
            <setting name="phone_server" serializeAs="String">
                <value>10.10.0.20</value>
            </setting>
            <setting name="phone_name" serializeAs="String">
                <value>okhten</value>
            </setting>
            <setting name="dmwrPath" serializeAs="String">
                <value>C:\Users\okhten\Desktop\DameWare Mini Remote Control x64\DWRCC.exe</value>
            </setting>
            <setting name="dmwrPath1" serializeAs="String">
                <value>C:\Users\okhten\Desktop\DameWare Mini Remote Control x64\</value>
            </setting>
            <setting name="call_status" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="servise_int" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="check_roll_dw" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="j83_label" serializeAs="String">
                <value>asa(7port) -&gt; hp(25port) </value>
            </setting>
            <setting name="phone1_label" serializeAs="String">
                <value>Волков Д</value>
            </setting>
            <setting name="phone2_label" serializeAs="String">
                <value>Рахмагов С</value>
            </setting>
            <setting name="phone3_label" serializeAs="String">
                <value>Башкиров А</value>
            </setting>
            <setting name="phone4_label" serializeAs="String">
                <value>Васильчук В</value>
            </setting>
            <setting name="phone5_label" serializeAs="String">
                <value>Анохин</value>
            </setting>
            <setting name="phone6_label" serializeAs="String">
                <value>Бужор</value>
            </setting>
            <setting name="phone7_label" serializeAs="String">
                <value>Ушаков</value>
            </setting>
            <setting name="phone8_label" serializeAs="String">
                <value>Литвин</value>
            </setting>
            <setting name="phone9_label" serializeAs="String">
                <value>Шелепов</value>
            </setting>
            <setting name="phone10_label" serializeAs="String">
                <value>Шипачева</value>
            </setting>
            <setting name="phone1_tel" serializeAs="String">
                <value>4399</value>
            </setting>
            <setting name="phone2_tel" serializeAs="String">
                <value>7223</value>
            </setting>
            <setting name="phone3_tel" serializeAs="String">
                <value>7224</value>
            </setting>
            <setting name="phone4_tel" serializeAs="String">
                <value>7111</value>
            </setting>
            <setting name="phone5_tel" serializeAs="String">
                <value>4499</value>
            </setting>
            <setting name="phone6_tel" serializeAs="String">
                <value>4433</value>
            </setting>
            <setting name="phone7_tel" serializeAs="String">
                <value>1111</value>
            </setting>
            <setting name="phone8_tel" serializeAs="String">
                <value>4411</value>
            </setting>
            <setting name="phone9_tel" serializeAs="String">
                <value>4444</value>
            </setting>
            <setting name="phone10_tel" serializeAs="String">
                <value>5606</value>
            </setting>
        </admin.Properties.Settings>
    </userSettings>
</configuration>